#outer_div {
    text-align: center;
    height: 550px;
    width: 700px;
    color: white;
    padding-top: 50px;
     
} 

#changer_btn {
    margin-top:180px;
    width: 120px;
    height: 50px;
    background-color: red;
    border-color:black ;
    border-radius: 5px;
}   

